@import '../../style/_variables.scss';

.header {
  background-color: $dark-background;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  width: 100%;
  margin-bottom: 20px;
  
  > h1 {
    color: $white;
    margin: 0;
    font-weight: 400;
  }
}