@import '../../style/variables.scss';

.dashboard {
  background-color: $background;
  min-height: 100vh;
  color: $white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonsBox {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      background-color: $button-background;
      padding: .5rem 0;
      border: 2px solid transparent;
      width: 150px;
      border-radius: .25rem;
      color: $white;
      text-transform: uppercase;
      font-weight: 600;
      box-shadow: $shadow;
      margin: 1rem;

      &.active {
        border-color: $white;
        box-shadow: $highlight-shadow;
      }
    }
  }

}