$background: #282C34;
$dark-background: #1C1F24;
$white: #F5F5F5;
$button-background: #5AA100;
$gray-detail: #D9D9D9;
$shadow: 2px 2px 4px 0px $dark-background;
$highlight-shadow: 2px 4px 8px 0px $dark-background;

$header-height: 60px;
